<h2 class="text-center my-3">Create an Event</h2>
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div class="alert alert-danger">
      <p>The form has the following <%= pluralize(@event.errors.count, 'error')%></p>
        <ul>
        <% @event.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form_container">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address, "Location" %>
        <%= f.text_field :address, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :start_date, "Date" %>
        <%= f.date_field :start_date, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :start_time, "Time" %>
        <%= f.time_field :start_time, class:"form-control" %>
      </div>
      <%= f.submit "Create an Event", class:"btn btn-primary" %>
    </div>
  <% end %>

