<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= render 'layouts/header' %>

    <main class="main-body">
      <%= render 'layouts/flashmsg' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
    
  </body>
</html>
